 h1{
     color:#7fff99;
     padding: 30px;
     margin-left: 30px;
 }

 body{
     background-color:#000000;
     color:#ffffff ;
     text-decoration-line:underline ;
     font-size: 25px ;
 }
 
 .Cabeçalho{
     background-color:#00ced1;
     display: flex;
     border-left-style: double ;
     color: blue;
     justify-content: space-between;
 }

 .Cabeçalho * {
     border: solid;
 }

 .grade{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .Rodapé{
     background-color: darkred ;
     display: flex;
     flex-wrap: wrap;
     justify-content:flex-end;
 }
            
a:link{
    color: red;
}                
            
a:visited{
    color: black;
}       